.footer {
    background-color: #191717;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1rem;
    bottom: 0;
    left: 0;
    position: static;
    z-index: 10;
    width: 84.5rem;
  }

p {
    justify-content: center;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}