@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.app {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3)
    ),
    url("https://images.pexels.com/photos/3109850/pexels-photo-3109850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position: center;
}

form {
    background: transparent;
    backdrop-filter: blur(20px);
    padding: 0px 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

button {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: rgba(144, 72, 232, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
}

button:hover {
    border-color: white;
}

