@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.sidebar {
    width: 250px;
    height: 100vh;
    /* position: fixed; */
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(142,145,219,255);
    color: white;
    border-radius: 25px;

  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 80px; 
  }
  
  .sidebar ul li {
    padding: 10px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    cursor: default;
  }

  .sidebar ul li:hover {
    font-size: 1.4em;
    background-color: rgb(116,118,186,255);
  }

  .sidebar ul li:active {
    background-color: #1a1a1a; 
  }