@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.submitInfo form { 
    font-family: Poppins, sans-serif;
    font-size: medium;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 93.5%;
    width: 30%;
    position: absolute;
    top:4%;
    transform: translate(99%, -3%);
    backdrop-filter: blur(5%);
    padding: 1%;
    border-radius: 1.5%;
    box-shadow: 1.5% rgb(255, 255, 255) inset;

}

.submitInfo select{
    font-size: large;
    font-family: Poppins,sans-serif;
    outline: none;
    background-color: white;
    padding: 1%;
    margin: 0.5%;
    border: none;
    border: 1px solid #000000;
    border-radius: 9px;
    height: 5.3vh;
    width: 43.5vh;

}

.submitInfo input{
    font-size: medium;
    width: 40vh;

}

.submitInfo column{
    text-align: center;
    align-items: center;
    row-gap: 2vh;
    max-width: 40vh;
}

.submitInfo label {
    font-size: medium;
}

.submitInfo h1 {
    color: white;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
}